<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <ul id="example-1">
            <li v-for="item in items">
                {{ item.message }}
            </li>
        </ul>

        <ul id="example-2">
            <li v-for="(item, index) in items">
                {{ parentMessage }} - {{ index }} - {{ item.message }}
            </li>
        </ul>

        <ul id="v-for-object" class="demo">
            <div v-for="(value, key, index) in object" :key="key">
                {{ index }}. {{ key }} : {{ value }}
                <input>
            </div>
        </ul>

        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="./index.js"></script>
    </body>
</html>