<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- if 문 -->
    <div id="app-3">
        <p v-if="seen">이제 나를 볼 수 있어요</p>
    </div>
    <!-- for문 -->
    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./index.js"></script>
</body>
</html>