<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <div class='test'>
            <!-- v-if -->
            <div v-if="ok">yes</div>
            <!-- 조건부 그룹 -->
            <template v-if="ok">
                <h1>Title</h1>
                <p>Paragraph 1</p>
                <p>Paragraph 2</p>
            </template>
            <!-- v-else -->
            <div v-if="Math.random() > 0.5">
                이제 나를 볼 수 있어요
            </div>
            <div v-else>
                이제는 안보입니다
            </div>
            <!-- v-else-if -->
            <div v-if="type === 'A'">
                A
            </div>
            <div v-else-if="type === 'B'">
                B
            </div>
            <div v-else-if="type === 'C'">
                C
            </div>
            <div v-else>
                Not A/B/C
            </div>
            
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="./index.js"></script>
    </body>
</html>